/* Rushclin02 on devchallenges.io */

:root {

    /* COLORS */

    --cool-white: #FAFAFA;
    --black: #000000;

    /* TYPOGRAPHY */

    --ff-poppins: 'Poppins';
    --ff-PT-serif: 'PT Serif';

    --fw-500: 500;
    --fw-700: 700;

    --fs-1: 36px;
    --fs-2: 18px;
    --fs-3: 12px;
}

/* Importation des fonts */
@font-face {
    font-family: 'Poppins';
    src: url('./../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'PT Serif';
    src: url('./../fonts/PTSerif-Regular.ttf');
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--cool-white);
}

/* HEADER */

.header {
    width: 100%;
    padding: 40px 30px;
}

.teams-title {
    font-family: var(--ff-PT-serif);
    margin-bottom: 20px;
}

.teams-description {
    font-family: var(--ff-poppins);
}

.subtitle-teams {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.attribution {
    font-family: var(--ff-poppins);
    font-size: 10px;
    text-align: center;
    padding-top: 50px
}

/* MAIN */

main>.container {
    padding-inline: 30px;
    overflow: hidden;
    display: grid;
    grid-gap: 40px;
    grid-template-areas: "a b"
        "c d "
        "e f";
}

.child {
    display: block;
    position: relative;
}

.child:nth-child(2),
.child:nth-child(4),
.child:nth-child(6) {
    padding-top: 50px;
}

img {
    height: auto;
    width: 90%;
    object-fit: contain;
}

.child-desc {
    padding: 0;
    transform: rotate(90deg);
    position: absolute;
    right: -40px;
    top: 45px;
    text-transform: uppercase;
    font-size: 10px;
}

.child:nth-child(2) .child-desc,
.child:nth-child(4) .child-desc,
.child:nth-child(6) .child-desc {
    padding: 0;
    transform: rotate(90deg);
    position: absolute;
    right: -30px;
    top: 80px;
    text-transform: uppercase;
    font-size: 10px;
}

.child-name {
    font-family: var(--ff-poppins);
    font-size: 14px;
}

/* RESPOSIVE */

@media (min-width: 950px) {

    /* MAIN */

    .header>.container {
        padding-inline: 200px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .teams-title,
    .teams-description {
        width: 40%
    }

    main>.container {
        padding-inline: 200px;
        overflow: hidden;
        display: grid;
        grid-gap: 20px;
        grid-template-areas: "a b c"
            "d e f";
    }

    .child:nth-child(2),
    .child:nth-child(5) {
        padding-top: 50px;
    }

    .child:nth-child(2) .child-desc,
    .child:nth-child(5) .child-desc {
        padding: 0;
        transform: rotate(90deg);
        position: absolute;
        right: -30px;
        top: 80px;
        text-transform: uppercase;
        font-size: 10px;
    }

}