/* Rushclin02 on devchallenges.io */

:root {

    /* COLORS */

    --cool-white: #FAFAFA;
    --black: #000000;

    /* TYPOGRAPHY */

    --ff-poppins: 'Poppins';
    --ff-PT-serif: 'PT Serif';

    --fw-500: 500;
    --fw-700: 700;

    --fs-1: 36px;
    --fs-2: 18px;
    --fs-3: 12px;
}

/* Importation des fonts */
@font-face {
    font-family: 'Poppins';
    src: url('./../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'PT Serif';
    src: url('./../fonts/PTSerif-Regular.ttf');
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--cool-white);
}

/* HEADER */
.header {
    margin-top: 50px;
    width: 100%
}

.header>.container {
    padding-inline: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title,
.description {
    width: 40%
}

.title {
    font-family: var(--ff-PT-serif);
    font-weight: var(--fw-700);
}

.description {
    font-family: var(--ff-poppins);
}

.subtitle-teams {
    padding-bottom: 10px;
}

/* .header>.container:nth-child(1),
.header>.container:nth-child(2) {
    width: 50%;
} */